// colores
$negro: #20222b;
$sandia: #fc6c85;
$mora: #a5af;
$purpura: #8357c6;
$agua: #6cfce3;
$azul-cielo: #464b5e;
$azul-marino: #333745;
$azul: #3c4251;
$blanco: #a5afd7;
// espaciado
$talla-xs: .6rem;
$talla-s: 1.2rem;
$talla-m: 1.6rem;
$talla-l: 3.2rem;
$talla-xl: 4.8rem;
$escritorio-breakpoint: 45rem;
// fuentes
$yanone: Yanone Kaffeesatz, sans-serif; 
$lobster: Lobster, cursive; 
$pacifico: Pacifico, cursive;
$roboto: Roboto, sans-serif; $oswald: Oswald, sans-serif; 
$dosis: Dosis, sans-serif; 
$allan: Allan, cursive; 
$anton: Anton, sans-serif;











@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Dosis|Glass+Antiqua');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Lobster|Yanone+Kaffeesatz|Pacifico|Snippet|Anton|Oswald|Sarina');
@import url('https://fonts.googleapis.com/css?family=Roboto');