// margen, espacio de relleno (padding)
// color, estilo de fuente
.agregar-opcion-error {
    color: $blanco;
    padding: 0 $talla-m; 
    font-style: italic;
    margin: $talla-m 0 0 0;
}
// top // right // bottom // left 
// margin: 2px 1em 0 auto;
// Vertical || Horizontal || 
// Arriba || Horizontal || Abajo
.agregar-opcion {
    display:flex;
    flex-direction: column;
    padding: $talla-m;
}
.agregar-opcion__entrada {
    color: white;
    background: $azul-marino;
    flex-grow: 1;
    margin-right: $talla-s;
    padding: $talla-s;
    color: $blanco;
    text-align: center;
    font-family: $roboto;
    font-weight: 500;
    margin: 0 0 $talla-s 0; // fondo 
    font-size: $talla-m;
    border: none;
    border-bottom: .3rem solid darken($azul-marino, 10%);
}
// .agregar-opcion input:hover {
//     border:blue;
// }

// 1rem = 16px, 
// unidades de medida en css
// solo aplica en dispositvos menores a 30
@media (min-width: $escritorio-breakpoint) {
    .agregar-opcion {
        flex-direction: row; // fila
    }
    .agregar-opcion__entrada {
        margin: 0 $talla-s 0 0; // derecha
    }
}