// BOTON ++
.boton-grande {
    background-color: $mora; 
    font-family: $anton;
    border:none;
    border-bottom: .6rem solid darken($purpura, 10%);
    color:white; 
    font-weight: bold;
    margin-bottom: $talla-m;
    font-size: $talla-l;
    padding: 2rem;
    width: 100%;
    }
.boton-grande:disabled {opacity: .5;}

@media (min-width: $escritorio-breakpoint) {
    .boton-grande {padding-bottom: $talla-xl; }
}

// boton + 
.boton {
    background-color: $purpura;
    border: none;
    border-bottom: .3rem solid darken($purpura, 10%); // punto y coma
    color: whitesmoke;
    padding: $talla-s;
    
}

.boton--link {
    background: none;
    border: none;
    color: $blanco;
    padding: 0;
}