.widget {
    background: $azul-cielo;
    margin-bottom: $talla-xl;
    
}

.widget__mensaje {
    color:$blanco;
    margin: 0;
    padding: $talla-l;
    text-align: center;
    border-bottom: 1px solid lighten($azul-cielo, 10%);
}

.widget-cabecera {
    background: $azul;
    color: $blanco;
    display: flex;
    padding: $talla-m;
    justify-content: space-between;
}

.widget-cabecera__titulo {
    margin: 0px;
    font-family: $oswald;
}

